TD
{
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, sans-serif, Verdana
}
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, sans-serif
}
A
{
    FONT-SIZE: 9pt;
    COLOR: blue;
    FONT-FAMILY: Verdana, Arial, sans-serif
}
SELECT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, sans-serif
}
.subtitle
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 0px;
    COLOR: #008b8b;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif
}
.title
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 12pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    COLOR: #008b8b;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, sans-serif
}
.slogan
{
    FONT-WEIGHT: 300;
    FONT-SIZE: 12pt;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 0px;
    COLOR: #008b8b;
    FONT-STYLE: bold;
    FONT-FAMILY: Verdana, Arial, sans-serif
}
TABLE
{
    FONT-FAMILY: Arial, sans-serif
}
TABLE.content
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none
}
TABLE.techinfo
{
    BORDER-RIGHT: thin outset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: thin outset;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: thin outset;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: thin outset;
    FONT-FAMILY: Arial, sans-serif
}
TD.header
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 5px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 11pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, sans-serif;
    BACKGROUND-COLOR: gray
}
TD.value
{
    BORDER-RIGHT: thin;
    PADDING-RIGHT: 5px;
    BORDER-TOP: thin;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: thin;
    WIDTH: 175pt;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: thin;
    FONT-FAMILY: Arial, sans-serif
}
TD.name
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 5px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 150pt;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
TD.comment
{
    BORDER-RIGHT: thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: thin inset;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    BORDER-LEFT: thin inset;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: thin inset;
    FONT-FAMILY: Arial, sans-serif
}
BODY.layout
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
P.text
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, 'MS Sans Serif'
}
TABLE.border
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
TABLE.transparant
{
    MARGIN-TOP: 0px;
    PADDING-TOP: 0px
}
.small
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'
}
A.link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    TEXT-DECORATION: none
}
TD.link
{
}
A.link:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    TEXT-DECORATION: underline
}
TD.menu
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #008b8b;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    LETTER-SPACING: 1pt;
    TEXT-ALIGN: center
}
TABLE.menu
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    FONT-SIZE: 13pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    COLOR: #008b8b;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: center
}
.smallgrijs
{
    FONT-SIZE: 8pt;
    COLOR: #a0a0a0;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
A.mouseover
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A.mouseover:hover
{
    FONT-SIZE: 8pt;
    COLOR: #0d758e;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: underline
}
.tekst
{
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 11pt;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    COLOR: #008b8b;
    LETTER-SPACING: 1pt
}
TD.menu1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: pointer;
    COLOR: #67006e;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
TD.menu2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: pointer;
    COLOR: #981b61;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
TD.menu3
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: pointer;
    COLOR: #990000;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
TD.menu4
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: pointer;
    COLOR: #b80000;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
TD.menu5
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: pointer;
    COLOR: #b80154;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
TD.menu6
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: pointer;
    COLOR: #666710;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
TD.menu7
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: pointer;
    COLOR: #999901;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
TD.menu8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: pointer;
    COLOR: #cccc15;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
